@{
    ViewData["Title"] = "Index";
}

<style>
    body {

        overflow: hidden !important;
    }
</style>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="middle-content">
            <div class="to-middle mr-2 ml-2">
                <center>
                    <h1 class="pb-3"><span class="to-purple">What</span> is your doubt ?</h1>
                    <input type="text" name="home-doubt" id="home-doubt" class="p-2 pr-4" placeholder="Type your doubt here...">
                    <a href="" id="icon-search" class="mt-1"><i class="fa fa-search"></i></a>
                    <h3 class="pt-4 pl-5 pr-5 nunito">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua incididunt ut labore et dolore magna aliqua.
                    </h3>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="content-display mt-5 mr-4 hidden-md-down">
            <div class="lateral-content pr-4 mb-5">
                <a href="#"><h3>Homes</h3></a>
                <h4>Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="lateral-content pr-4 mb-5">
                <a href="#"><h3>Doubt</h3></a>
                <h4>Dolore magna aliqua</h4>
            </div>
            <div class="lateral-content pr-4 mb-5">
                <a href="#"><h3>Users</h3></a>
                <h4>Eu fugiat nulla pariatur</h4>
            </div>
            <div class="lateral-content pr-4 mb-5">
                <a href="#"><h3>Tags</h3></a>
                <h4>officia deserunt mollit</h4>
            </div>
        </div>
    </div>
</div>


<footer id="data-numbers" class="container-fluid">
    <div class="row mt-5 pt-3">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 pr-5">
                    <h5>| 76</h5>
                    <hr class="purple-bar">
                    <h6>Tags</h6>
                    <p class="to-light-gray small">
                        Ut enim ad minim veniam,
                        quis
                    </p>
                </div>
                <div class="col-md-4 pr-5">
                    <h5>| 827</h5>
                    <hr class="purple-bar">
                    <h6>Questions</h6>
                    <p class="to-light-gray small">
                        Ut enim ad minim veniam,
                        quis
                    </p>
                </div>
                <div class="col-md-4 pr-5">
                    <h5>| 321</h5>
                    <hr class="purple-bar">
                    <h6>Users</h6>
                    <p class="to-light-gray small">
                        Ut enim ad minim veniam,
                        quis
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="footer-content float-right mt-5 mr-4">
                <a href="https://www.linkedin.com/in/laurocoliveira/" title=""> <small>Powered By Lauro Oliveira</small></a>
                <a href="https://www.linkedin.com/in/laurocoliveira/" title="" class="footer-icons"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/laurocoliveira/" title="" class="footer-icons"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/laurocoliveira/" title="" class="footer-icons"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>