@*@model List<IAsyncResult.Models.Question>*@
@{
    ViewData["Title"] = "Recent Questions";
}
<style>

</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="middle-content">
            <div class="to-middle mr-2 ml-2">
                <center>
                    <h1 class="pb-3"><span class="to-purple">What</span> is your doubt ?</h1>
                    <input type="text" name="home-doubt" id="home-doubt" class="p-2 pr-4" placeholder="Type your doubt here...">
                    <a href="" id="icon-search" class="mt-1"><i class="fa fa-search"></i></a>
                    <h3 class="pt-4 pl-5 pr-5 nunito">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua incididunt ut labore et dolore magna aliqua.
                    </h3>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>